/* src/App.css */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('babaicon.png') center center/cover no-repeat; /* Değişiklik: background pozisyonu düzenlendi */
    margin: 0; /* Değişiklik: Sayfa kenar boşlukları sıfırlandı */
  }
  
  body {
    margin: 0; /* Değişiklik: Body'nin kenar boşluğu sıfırlandı */
  }
  
  .login-container {
    background-color: rgba(0, 0, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  
  .input-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  input {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  